.button1 {
    border: none;
    background: url('_/theme/Images/html-5_5968267.png') no-repeat top left;
    padding: 2px 8px;
}
.button2 {
    border: none;
    background: url('_/theme/Images/css_919826.png') no-repeat top left;
    padding: 2px 8px;
}