
.button-html5 {
    background-image: url('_/theme/html5-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 16px;
    border: none;
    padding: 20px;
    width: 150px; /* Adjust button dimensions */
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-css3 {
    background-image: url('_/theme/css3-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 16px;
    border: none;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
